.appLayout {
  min-height: 100vh;
  background: linear-gradient(to bottom right, #eff6ff, #ffffff, #f0f9ff);
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  padding: 24px;
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
}
